@using MovieLibrary.Business.ViewModels
@model MovieLibrary.Business.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
 @if (ViewBag.Message != null)
{
       <script type="text/javascript">
            window.onload = function() {
                alert("@ViewBag.Message");
            }; 
       </script> 

}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="MovieId" class="control-label" hidden></label>
                <input asp-for="MovieId" class="form-control" hidden/>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmittedBy" class="control-label"></label>
                <input asp-for="SubmittedBy" class="form-control" />
                <span asp-validation-for="SubmittedBy" class="text-danger"></span>
            </div>
             <div>
                <label asp-for="SelectedDirectors" class="control-label">Directors</label><br/>
                <select id="SelectedDirectors"class="multiple-genre-director"name="SelectedDirectors[]" multiple="multiple">
                @foreach(DirectorViewModel item in Model.DirectorViewModels)
                    {
                        <option value=@item.DirectorId>@item.FirstName @item.LastName</option>
                    }
            </select>
            </div>
            <div>
                <label asp-for="SelectedGenres" class="control-label">Genres</label><br/>
                <select id="SelectedGenres"class="multiple-genre-director"name="SelectedGenres[]" multiple="multiple">
                @foreach(GenreViewModel item in Model.GenreViewModels)
                    {
                        <option value=@item.GenreId>@item.Caption</option>
                    }
            </select>
            </div>
            <div class=" form-group">
                 <label asp-for="Image" class="control-label"></label>
                 <br/>
                 <img src="@("~/image/" + Model.ImagePath)" asp-append-version="true" height=200px width=200px/>             
                <input asp-for="Image" type="file" name="Image" accept="image/*"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script> 
$(document).ready(function() {
    $('.multiple-genre-director').select2();
});
</script>

