@using MovieLibrary.Business.ViewModel
@model IEnumerable<MovieLibrary.Business.ViewModel.MovieViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a><br/>
    <a asp-action="Index">Get all movies</a>
</p>
@if (@TempData["AlertMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function() {
                alert("@TempData["AlertMessage"]");
            }; 
       </script>

}
<div class="col-4 p-0 justify-content-end">
       <form asp-action="SearchMovie">
            <input class="form-control" type="text" name="movieSearch" placeholder="Search Movie.."/>
            <select name="genresSearch" >
                <option>Select genre...</option>
                @foreach(GenreViewModel item in ViewBag.Genres)
                    {
                        <option value=@item.GenreId>@item.Caption</option>
                    }
            </select>
            <input class="p-1 btn btn-sm btn-info" type="submit" value="Search"/>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedBy)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Directors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorCsv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenresCsv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MovieId }) |
                @Html.ActionLink("Details", "Details", new { id=item.MovieId}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MovieId})
            </td>
        </tr>
}
    </tbody>
</table>
